
<div class="container">
    <form class="form-inline">
    <div class="form-group">
        <br><input type="text" class="form-control" placeholder="Github username" [(ngModel)]="name" name="name" id="name"><br>
        <button type="submit" id="button" class="btn btn-primary" (click)="getUsers(name)">Search</button><br>
    </div>
    </form>
    
    <div class = "row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <h4>Username: {{user.login}}</h4>
            
            <button class="btn btn-primary">Following: {{user.following}}</button><br>
            <br><button class="btn btn-primary">Followers: {{user.followers}}</button>
    
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<br><div class="card-columns container-fluid" style="width: 40rem;" id="card">
        <div *ngFor='let file of repository' class="card">
            <h4 class ="card-header">{{file.name}}</h4>
            <p class="card-body"><strong>Description: </strong> {{file.description}}<br><strong>Language: </strong>{{file.language}}</p>
        </div>
    </div>









