<!-- <app-gitsearch-form></app-gitsearch-form> -->
<div class="container">
    <form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Github username" [(ngModel)]="name" name="name">
        <button type="submit" class="btn btn-primary" (click)="getUsers(name)"><i class="fa fa-search" aria-hidden="true"></i>usernamesearch</button>
    </div>
</form>
<input type="text" class="form-control" name="" placeholder="Search through repos" id="repoSearch"><br>

</div>

